:root{
    --primary-color:rgb(87, 9, 160);
    --secondary-color:rgb(209, 134, 224);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color:var(--primary-color);
}

.header{
    display: block;
}

.scores{
    display: inline;
}

.countdown{
    display: inline;
    float: right;
    margin: 0;
}

.quiz-container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.choice, #select-btn{
    color: white;
    background-color: var(--primary-color);
    font-size: 20px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    border-radius: 10px;
    display: inline-block;
}

#select-btn:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

.choice {
    width: 20%;
    flex: column;
    flex-wrap: wrap;
    text-align: left;
}

.choice:hover{
    cursor: pointer;
    background-color:var(--secondary-color);
}

.back {
    width: 12%;
    text-align: center;
}

.scores{
    color:var(--secondary-color);
    font-weight: bold;
}

#scoreList{
    width: 15%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

/* MEDIA QUERY FOR 900 AND SMALLER*/
@media screen and (max-width: 900px){
    .choice{
        width: 30%;
        font-size: 1rem;
    }
    .choice:hover{
        cursor: pointer;
        background-color:var(--primary-color);
    }

}